//ESCALA CINZAS
$black:                  #000000 !default;
$gray-extra-darker:      #231F20 !default;
$gray-extra-dark:        #444444 !default;
$gray-darker:            #666666 !default;
$gray-dark:              #999999 !default;
$gray:                   #aaaaaa !default;
$gray-light:             #bbbbbb !default;
$gray-lighter:           #cccccc !default;
$gray-extra-light:       #fcfdff !default;
$gray-extra-lighter:     #f1f1f1 !default;
$white:                  #FFFFFF !default;

//CORES BOOTSTRAP ESSENCIAIS PARA CORES DE ALERT/WARNING/SUCCESS
$brand-primary:         #0298ae !default;
$brand-success:         #65f67d !default;
$brand-info:            #0298ae !default;
$brand-warning:         #d7a436 !default;
$brand-danger:          #c0392b !default;

//CORES LAYOUT
$green:                 #86ba9b;
$dark-opacity:          rgba(66, 66, 67, 0.05);
$darker-opacity:        rgba(100, 103, 101, 0.15);
